/* Layouting */
.new-comment-wrapper {
  background-color: #f7fafd;
}
.new-comment-wrapper,
.old-comment-wrapper {
  padding: 20px 10px;
  border-radius: 10px;
}
.comment {
  font-size: 16px;
}
.content-time {
  font-size: 14px;
}

/* Coloring */
.comment-name {
  font-weight: 800;
  color: #1c202b;
}
.comment-name:hover {
  color: #0a317b;
  cursor: pointer;
}

.comment-cta {
  color: #0a317b;
}
.comment-cta:hover {
  font-weight: 800;
  cursor: pointer;
}

.comment-detail,
.content-time {
  color: #5e6778;
}

/* Content */
.fa-circle {
  font-size: 12px;
}
.toggle-text {
  font-size: 14px;
}
